.formulario {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;

   
  }
  
  .formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #B629F2;
  }
  
  .formulario input[type="text"],
  .formulario input[type="email"],
  .formulario textarea {
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .formulario textarea {
    resize: vertical; /* Permitir que el textarea sea redimensionable verticalmente */
  }
  
  .formulario input[type="submit"] {
 
    display: block;
    width: 105%;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: #B629F2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .formulario input[type="submit"]:hover {
 
    background-color: #B629F2;
  }
  